@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
    display: grid;
    place-content: center;
    min-height: 100vh;
}
.main-container{
    display: flex;
  
}
.perfume-img{
    width: 280px;
    border-radius: 10px 0 0 10px;
}
.details-container{
    background-color: #fff;
    display: grid;
    padding: 1.5em;
    width: 280px;
    border-radius: 0px 10px 10px 0px;
}
.top-tag{
    letter-spacing: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
}
.title{
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-size: 2em;
    line-height: 1em;
    margin: 20px 0;
}
.sub-title{
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 1.6em;
}
.price{
    display: flex;
    margin: 20px 0px;
}
.current-p{
    font-size: 2em;
    font-family: 'Fraunces', serif;
    color:  hsl(158, 36%, 37%);
}
.old-p{
    font-size: 12px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    margin: auto 0px 5px 15px;
    text-decoration: line-through;
}

.btn-buy{
    font-size: 14px;
    padding: 12px 0;
  border-radius: 10px;
  border: none;
  background-color:hsl(158, 36%, 37%);;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.icon{
    margin-right: 15px;
    font-weight: normal;
}
.attribution{
    margin-top: 100px;
}

@media (max-width:570px) {
    .main-container{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .perfume-img{
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
        width: 330px;
    }
    .details-container{
        width: 330px;
        border-radius: 0px 0px 10px 10px;
    }
    
}
